body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background-color: #222;
    color: lightgrey;
}

.container{
    display: flex;
    flex-direction: column;
}

.wrapper{
    display: flex;
    font-size: 50px;
}

.num-one{
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: end;
    background-color: #222;
    color:#222;
    border:none;
    margin-bottom: -30px;
    color: green;
}


.row-num{
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: end;
}


.num-2{
    border-bottom:2px solid white;
}

.answer{
    display: flex;
    padding: 0 2px;
}

.answer-1,.answer-2,.answer-3{
    color: white;

}

.btn{
    padding: 5px 10px;
    background-color: yellow;
    border-radius: 15px;
}

.help{
    display: flex;
    justify-content: center;
    margin-left: 20px;
}


.block{
    display: none
}

.open .block{
    display: flex;
    justify-content: start;
    flex-direction: column;
    align-items: end;
    padding: 20px;
    margin: 25px;
    border: 2px solid black;
    border-radius: 20px;
    height: 400px;
    width: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color:#222;
    font-size: 50px;
}

.nu-2{
    border-bottom: lightgray solid;
}

.mini{
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.answer1{
    color: #222;
}

.open .row-num{
    display: flex;
    align-items: center;
}

.open .nu-1{
    margin-right: -25px;
}

.ch{
    margin-top: 80px;
    display: flex;
}

.close{
    border:none;
    background-color: #222;
    width: 30px;
    height: 30px;
}

.fa-x{
    color: #222;
}
.open .fa-x{
    color: lightgrey;
    font-size: 30px;
}


.close:hover{
    transform: scale(1.08);
}

 .answer{
    color:#222;
}

.wrapper{
    height: 200px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrap{
    height: 200px;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.row{
    display: flex;
    justify-content: center;
    align-items: center;

}

.choice{
    background-color: navy;
    color: white;
    width: 70px;
    height: 30px;
    border-radius: 30px;
    font-size: 20px;
    font-weight: bold;
    margin: 15px;
}

.answer-black{
    color: #222;
}

.correct .choice{
    background-color: green;
}

.wrong .choice{
    background-color: red;
}

.correct .number1,
.correct .number2,
.correct .nu-2,
.correct .nu-1,
.correct .answer1,
.correct .answer,
.correct .num-1,
.correct .num-2,
.correct .sign{
    color:green;
}

.wrong .number1,
.wrong .number2,
.wrong .nu-2,
.wrong .nu-1,
.wrong .answer1,
.wrong .answer,
.wrong .num-1,
.wrong .num-2,
.wrong .sign{
    color:red;
}

